<div class="profile-item">
	<input type="hidden" name="profiles[<%= index %>][items][<%= i %>][remove]" class="profile-item-remove" value="0" />
	<input type="hidden" name="profiles[<%= index %>][items][<%= i %>][profile_item_id]" class="profile-item-id" value="0" />
	<input type="hidden" name="profiles[<%= index %>][items][<%= i %>][profile_item_display_order]" class="profile-item-display-order" value="0" />
	<input type="text" name="profiles[<%= index %>][items][<%= i %>][profile_item_name]" class="form-control input-sm profile-item-name" value="" />
	<span class="profile-item-action"><i class="halflings plus profile-item-add"></i></span>
	<div class="clearfix "></div>
</div>